header {
    background-color: cornflowerblue;
    height: 95vh; 
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
}

h1 {
    align-self: center;
    justify-self: center;
}